/* Main Header */
.main-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 10px 240px;
    border-bottom: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

/* Logo Group */
.page-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.page-logo h2 {
    font-family: 'Crimson Text';
    font-size: 33px;
    font-weight: 700;
}

/* Navigation Links */
.main-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main-header li {
    padding: 5px;
    border-radius: 5px;
}

.main-header span {
    font-size: 17px;
    font-weight: 400;
}

/* Effects */
.main-header li:hover {
    background: var(--hover-color);
    transition: background 0.3s ease;
}

.main-header li:active {
    transform: scale(0.95);
}