/* Main Header */
.main-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 10px 50px;
    border-bottom: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

/* Logo Group */
.page-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.page-logo h2 {
    font-family: 'Crimson Text';
    font-size: 33px;
    font-weight: 700;
}

.main-header ul {
    display: flex;
    gap: 40px;
}

.main-header span {
    font-size: 17px;
    font-weight: 400;
}